.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($black, .1);
  background-color: rgba($white, .8);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-fs;
  transform: skewX(-12deg);

  @include respond(tab-port){
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone){
    transform: skewX(0);
  }

  &-shape {
    width: 15rem;
    height: 15rem; 
    // background-color: lime;
    float: left;
    transform: translate(-3rem) skewX(12deg);
    position: relative;
    margin-top: -2rem;
    overflow: hidden;
    border-radius: 50%;

    @include respond(phone){
      transform: skewX(0) translateX(-3rem);
    }

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);  
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);  
      border-radius: none;
    }
  
  }

  &-img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
    
  }

  &-text {
    transform: skewX(12deg);

    @include respond(phone){
      transform: skewX(0);
    }  
  }

  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px);
    // transition: all .5s;
  }
}